@model OnlineExamManagement.Models.Question

@{
    ViewBag.Title = "DeleteQuestion";
}


<div class="t_deletequestion container-fluid">
    <h1>Delete Question</h1>
    <h2>Are you sure you want to delete this?</h2>
    <div class="t_deletequestionform container">
        @using (Html.BeginForm(new { @class = "deletequestion" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group container">
                <div class="form-group row">
                    <label for="question" class="col-sm-2 col-form-label">Question</label>
                    <div class="form-group col-md-4">
                        <p><b>@Html.DisplayFor(model => model.Ques)</b></p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="course" class="col-sm-2 col-form-label">Course Type</label>
                    <div class="form-group col-md-4">
                        <p>
                            <b>
                                @{
                                    if (Model.CourseRefId == 1)
                                    {
                                        <p>ASP .Net MVC</p>
                                    }
                                    else if (Model.CourseRefId == 2)
                                    {
                                        <p>Angular</p>
                                    }
                                    else
                                    {
                                        <p>SQL</p>
                                    }
                                }
                            </b>
                        </p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="optionA" class="col-sm-2 col-form-label">OptionA</label>
                    <div class="form-group col-md-4">
                        <p><b> @Html.DisplayFor(model => model.OptionA)</b></p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="optionA" class="col-sm-2 col-form-label">OptionB</label>
                    <div class="form-group col-md-4">
                        <p><b> @Html.DisplayFor(model => model.OptionB)</b></p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="optionA" class="col-sm-2 col-form-label">OptionC</label>
                    <div class="form-group col-md-4">
                        <p><b> @Html.DisplayFor(model => model.OptionC)</b></p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="optionA" class="col-sm-2 col-form-label">OptionD</label>
                    <div class="form-group col-md-4">
                        <p><b>@Html.DisplayFor(model => model.OptionD)</b></p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="correct" class="col-sm-2 col-form-label">Correct</label>
                    <div class="form-group col-md-4">
                        <p><b>@Html.DisplayFor(model => model.Correct)</b></p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <button type="submit" class="t_delete btn">Delete</button>
                </div>

                <div class="form-group col-md-6">
                    <button type="button" class="backtolist btn">Back to List</button>
                </div>
            </div>
         }
    </div>
</div>






















