@model IEnumerable<OnlineExamManagement.Models.Student>

@{
    ViewBag.Title = "LeaderBoard";
}

<h2>LeaderBoard</h2>
<div class="t_leaderboard">

    <!--LEADERBOARD-->
    <h1>LEADERBOARD</h1>
    <div class="container-fluid leadtable">
        <table class="table">
            <tr>
                <th width="25%">
                    @Html.DisplayNameFor(model => model.Name)
                    
                </th>
                <th width="25%">
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th width="10%">
                    @Html.DisplayNameFor(model => model.Marks1)
                    @Html.ActionLink("↑", "LeaderBoard", "Teacher", new { sortOrder = "A",sortBy = "Marks1"}, new { @style = "color:white" })
                    @Html.ActionLink("↓", "LeaderBoard", "Teacher", new { sortOrder = "D", sortBy = "Marks1" }, new { @style = "color:white" })
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.Marks2)
                    @Html.ActionLink("↑", "LeaderBoard", "Teacher", new { sortOrder = "A", sortBy = "Marks2" }, new { @style = "color:white" })
                    @Html.ActionLink("↓", "LeaderBoard", "Teacher", new { sortOrder = "D", sortBy = "Marks2" }, new { @style = "color:white" })
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.Marks3)
                    @Html.ActionLink("↑", "LeaderBoard", "Teacher", new { sortOrder = "A", sortBy = "Marks3" }, new { @style = "color:white" })
                    @Html.ActionLink("↓", "LeaderBoard", "Teacher", new { sortOrder = "D", sortBy = "Marks3" }, new { @style = "color:white" })
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.Marks4)
                    @Html.ActionLink("↑", "LeaderBoard", "Teacher", new { sortOrder = "A", sortBy = "Marks4" }, new { @style = "color:white" })
                    @Html.ActionLink("↓", "LeaderBoard", "Teacher", new { sortOrder = "D", sortBy = "Marks4" }, new { @style = "color:white" })
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.Total)
                    @Html.ActionLink("↑", "LeaderBoard", "Teacher", new { sortOrder = "A", sortBy = "Total" }, new { @style = "color:white" })
                    @Html.ActionLink("↓", "LeaderBoard", "Teacher", new { sortOrder = "D", sortBy = "Total" }, new { @style = "color:white" })
                </th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Marks1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marks2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marks3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marks4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                        
                    </td>
                </tr>
             }
        </table>
    </div>
</div>

        
