@model IEnumerable<OnlineExamManagement.Models.Student>

@{
    ViewBag.Title = "LeaderBoard";
}

<h2>LeaderBoard</h2>
<div class="t_leaderboard">

    <!--LEADERBOARD-->
    <h1>LEADERBOARD</h1>
    <div class="container-fluid leadtable">
        <table class="table">
            <tr>
                <th width="25%">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th width="25%">
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th width="10%">
                    @Html.DisplayNameFor(model => model.Marks1)
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.Marks2)
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.Marks3)
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.Marks4)
                </th>
                <th width="10%">
                    Total
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Marks1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marks2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marks3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marks4)
                    </td>
                    <td>
                        @(Convert.ToInt32(item.Marks1) + Convert.ToInt32(item.Marks2) + Convert.ToInt32(item.Marks3) + Convert.ToInt32(item.Marks4))
                    </td>
                </tr>
             }
        </table>
    </div>
</div>

        
