@model OnlineExamManagement.Models.Student
@*Teacher*@
@{
    ViewBag.Title = "Login";
}


<div class="container-fluid t_signin">
    <!--LOGIN FORM-->
    <div class="t_signinform">
        <span class=" logo glyphicon glyphicon-user"></span>
        <h1 style="color:white">Sign In</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-box", @id = "username", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "input-box", @id = "password", @placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <button type="submit" id="login" class="t_signin-btn"><span>Log In</span></button>
            </div>
        }
    </div>
</div>








@section scripts{

    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null }
    </script>
}
