@model IEnumerable<OnlineExamManagement.Models.Exam>

@{
    ViewBag.Title = "ViewExam";
}

<h2>ViewExam</h2>

<p>
    @Html.ActionLink("Create New", "CreateExam","Teacher")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @{
                if (item.CourseRefId == 1)
                {
                    <p>CSE</p>

                }
                else if (item.CourseRefId == 2)
                {
                    <p>ECE</p>

                }
                else
                {
                    <p>IT</p>
                }
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditExam", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteExam", new { id = item.Id })
        </td>
    </tr>
}

</table>
    
@Html.ActionLink("Back to Landing Page","LandingPage","Teacher")
