@model IEnumerable<OnlineExamManagement.Models.Exam>

@{
    ViewBag.Title = "ViewExam";
}
<div class="t_viewexam container-fluid">

    <!--VIEWEXAM-->
    <h3>Welcome,  @User.Identity.Name</h3>
    <h1>EXAMS</h1><br /><br />
    @{
        if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" id="warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong class="t_success">@TempData["Success"]</strong>
            </div>
        }
    }

    <div class="container-fluid" style="margin-right:10% ">
        <a class="t_create" href="@Url.Action("CreateExam","Teacher")">CREATE</a>
        @using (Html.BeginForm("ViewExam", "Teacher", FormMethod.Post, new { @style = "float:right" }))
        {


            <input class="form-control" type="text" name="searchText" placeholder="Search" /><br />
            <button type="submit" class="btn btn-primary">Search</button>
        }
    </div><br /><br />

    <div class="container-fluid t_examtable">


        <table>
            <tr>
                <th width="25%">@Html.DisplayNameFor(model => model.Course.Name)</th>
                <th width="15%">@Html.DisplayNameFor(model => model.Code)</th>
                <th width="10%">@Html.DisplayNameFor(model => model.Date)</th>
                <th width="10%">@Html.DisplayNameFor(model => model.Active)</th>
                <th width="40%"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @{
                            if (item.CourseRefId == 1)
                            {
                                <p>ASP .Net MVC</p>

                            }
                            else if (item.CourseRefId == 2)
                            {
                                <p>Angular</p>

                            }
                            else
                            {
                                <p>SQL</p>
                            }
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditExam", new { id = item.Id }, new { @class = "t_edit" })
                        @Html.ActionLink("Delete", "DeleteExam", new { id = item.Id }, new { @class = "t_delete" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@Html.ActionLink("Back to Landing Page", "LandingPage", "Teacher")
