@model IEnumerable<OnlineExamManagement.Models.Question>

@{
    ViewBag.Title = "ViewQuestion";
}

<h2>ViewQuestion</h2>

<div class="t_question container-fluid">

    <!--QUESTIONS-->

    <h3>Welcome,  @User.Identity.Name</h3>

    <h1 style="text-align:center">QUESTIONS</h1>
    @{
        if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" id="warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong class="t_success">@TempData["Success"]</strong>
            </div>
        }
    }

    <div class="container-fluid">
        <a class="t_create" href="@Url.Action("CreateQuestion","Teacher")">CREATE</a>
        @using (Html.BeginForm("ViewQuestion", "Teacher", FormMethod.Post, new { @style = "float:right" }))
        {


            <input class="form-control" type="text" name="searchText" placeholder="Search" /><br />
            <button type="submit" class="btn btn-primary">Search</button>
         }
    </div><br /><br />



    <div class="container-fluid t_questiontable">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Course.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ques)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OptionA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OptionB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OptionC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OptionD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correct)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ques)
                    </td>
                    <td>
                        @{
                            if (item.CourseRefId == 1)
                            {
                                <p>ASP .Net MVC</p>

                            }
                            else if (item.CourseRefId == 2)
                            {
                                <p>Angular</p>

                            }
                            else
                            {
                                <p>Sql</p>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OptionA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OptionB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OptionC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OptionD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correct)
                    </td>
                    <td>
                        <a class="t_edit" href="@Url.Action("EditQuestion", "Teacher", new {id = item.Id})">Edit</a> <a class="t_delete" href="@Url.Action("DeleteQuestion", "Teacher", new {id = item.Id})">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


@Html.ActionLink("Back to Home", "LandingPage", "Teacher")
