<div class="container_fluid s_profile">
    @model OnlineExamManagement.Models.Student

    @{
        ViewBag.Title = "UserProfile";
    }


    <div class="container_fluid" style="margin-top:10%">
        <h2>Welcome, @Model.Name</h2>
        <p><b>Email:</b>  @Model.Email</p>

        <table class="s_center">
            <tr>
                <th>Marks 1</th>
                <th>Marks 2</th>
                <th>Marks 3</th>
                <th>Marks 4</th>
            </tr>
            <tr>
                <td>@Model.Marks1</td>
                <td>@Model.Marks2</td>
                <td>@Model.Marks3</td>
                <td>@Model.Marks4</td>
            </tr>
            <tr>
                <th></th>
            </tr>
        </table>

    </div>


</div>